<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="description" content="{{ site.description | split: '.' | first }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="google-site-verification" content="jqi6GjA_kvmDkzCQwNJIPilm810Wwt6P0wsDmiSKmqk" />
  <meta name="copyright" content="Abhinav Sarkar">
  <meta name="robots" content="index,follow">
  <meta name="language" content="EN">
  <meta name="author" content="Abhinav Sarkar, abhinav@abhinavsarkar.net">
  <link rel="pingback" href="https://webmention.io/abhinavsarkar.net/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/abhinavsarkar.net/webmention" />

  <title>{% if page.path != 'README.md' %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  <link rel="shortcut icon" type="image/x-icon" href="//abhinavsarkar.net/images/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/feed.atom">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/remarkdown.css/dist/remarkdown.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//anna.abhinavsarkar.net/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//anna.abhinavsarkar.net/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->
</head>
<body class="remarkdown h1-underline h2-underline table-marker hr-hyphen">
  <div class="container">
    <header>
      <span><a href="/">{{ site.name }}</a></span>
      <form action="{{ site.github.repository_url }}/search" method="get" style="float: right">
        <input type="search" name="q" placeholder="Search">
        <input type="hidden" name="l" value="Markdown" style="display:none">
      </form>
    </header>
    <section style="margin-top: 1em; color: #999;">
    {% if page.date %}<time datetime="{{ page.date }}" class="date">{{ page.date | date_to_string }}</time>{% endif %}
    {% if page.tags %}
    {% assign tags = page.tags | split:' ' %}
    <ul class="tags">
      {% for tag in tags %}
      <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if page.date %}
    <span style="float: right">
      <span id="like-count" title="Likes"></span>
      <span id="repost-count" title="Reposts"></span>
    </span>
    <script type="text/javascript">
      function undefinedToZero(n) {
        return n == undefined ? 0 : n;
      }

      Promise.all(
        [fetch("https://webmention.io/api/count?target=" + location),
         fetch("https://webmention.io/api/count?target=" + location + "?mtm_campaign=mastodon")])
        .then(responses => Promise.all([responses[0].json(), responses[1].json()]))
        .then(responses => {
          let likes = undefinedToZero(responses[0].type.like) + undefinedToZero(responses[1].type.like);

          if (likes !== 0)
            document.querySelector("#like-count").innerHTML = likes + "♥️";

          let reposts = undefinedToZero(responses[0].type.repost) + undefinedToZero(responses[1].type.repost);
          if (reposts !== 0)
            document.querySelector("#repost-count").innerHTML = reposts + "🔁";
        });

      document.addEventListener("DOMContentLoaded", function() {
        let blockedStatuses = [{{ site.data.blocked_statuses | join: ", "}}];
        function replaceEmojis(string, emojis) {
          emojis.forEach(emoji => {
              string = string.replaceAll(
                `:${emoji.shortcode}:`, `<img class="emoji" src="${emoji.static_url}">`);
          });
          return string;
        }

        let mastodonLink = document.querySelector("a.mastodon-link");
        if (mastodonLink != null) {
          mastodonLink.addEventListener("click", function(event) {
            event.preventDefault();
            let instanceURL = window.prompt("Enter your instance URL to like, share or comment on this post:");
            if (instanceURL == null) {
              window.location = mastodonLink.href;
              return;
            }

            instanceURL = instanceURL.trim();
            if (instanceURL === "") {
              window.location = mastodonLink.href;
              return;
            }

            if (!instanceURL.startsWith("https")) {
              instanceURL = "https://" + instanceURL;
            }
            window.open(`${instanceURL}/authorize_interaction?uri=${mastodonLink.href}`, '_blank');
          });

          let parts = mastodonLink.href.split("/");
          let postId = parts[parts.length - 1];
          let main = document.querySelector("main");
          fetch(`https://fantastic.earth/api/v1/statuses/${postId}/context`)
          .then(res => res.json())
          .then(res => {
            let comments = res.descendants.filter(c => {
              return c.visibility === "public" ||
                     (c.visibility === "unlisted"  && c.account.acct === "abnv");
            });
            if (comments.length === 0)
              return;

            let commentContainer = document.createElement("div");
            commentContainer.className = "comments";

            let commentsHeader = document.createElement("h2");
            commentsHeader.innerHTML = "Comments";
            commentContainer.appendChild(commentsHeader);

            for (let comment of comments) {
              if (blockedStatuses.includes(parseInt(comment.id))) {
                continue;
              }

              let html = `
<a class="account" href="${comment.account.url}">${replaceEmojis(comment.account.username, comment.account.emojis)}</a>
<a class="pubtime" href="${comment.url}"><time>${new Date(comment.created_at).toLocaleString()}</time></a>
<div class="content">${replaceEmojis(comment.content, comment.emojis)}</div>`;
              let commentElement = document.createElement("div");
              commentElement.innerHTML = html;
              commentElement.className = "comment";
              if (comment.in_reply_to_id !== postId) {
                commentElement.classList.add("reply");
              }
              commentContainer.appendChild(commentElement);
            }
            main.appendChild(commentContainer);
          });
        }
      });
    </script>
    {% endif %}
    </section>
    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    <footer>
      Powered by <a href="https://abhin4v.github.io/precis/">Precis</a>
      <a style="float: right" href="https://abhinavsarkar.net">abhinavsarkar.net</a>
    </footer>
  </div>
</body>
</html>
