---
layout: default
---

{{ content }}

<video width="{{ page.video_width }}" height="{{ page.video_height }}" autoplay muted controls loop preload="auto">
    <!-- MP4 must be first for iPad! -->
    <source src="{{ page.video_path }}.mp4" type="video/mp4" /><!-- WebKit video    -->
    <source src="{{ page.video_path }}.webm" type="video/webm" /><!-- Chrome / Newest versions of Firefox and Opera -->
    <source src="{{ page.video_path }}.OGV" type="video/ogg" /><!-- Firefox / Opera -->
    Sorry, your browser doesn't support embedded videos.
</video>
